$bd-bg: pink;
body {
    background-color: $bd-bg;
}
p {
    background-color: antiquewhite;
}
.logo {
    background: url('../assets/images/sort.png') no-repeat;
    width: 100px;
    height: 100px;
    background-size: contain;
}